<ion-header>
  <ion-navbar>
    <ion-title>
      Check Out
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <!-- Show when there are no products in the cart  -->
    <div *ngIf="!productListing?.length > 0">
      There are no items in the cart
    </div>

    <!-- Only show when there is product in the cart -->
    <!-- <ion-item *ngFor="let item of productListing" padding> -->
    <!-- <ion-thumbnail item-start> -->
    <!-- Display the first image of the product  -->
    <!-- <img src={{item.images[0].src}}> -->
    <!-- </ion-thumbnail> -->
    <!-- <h2>{{item.title}}</h2> -->
    <!-- <p>Price : S$ {{item.price}}</p> -->
    <!-- <p>Quantity : {{item.quantity}}</p> -->
    <!-- </ion-item> -->

    <div *ngFor="let item of productListing">
      <ion-item *ngFor="let variant of item.variants" padding>
        <ion-thumbnail item-start>
          <!-- Display the first image of the product  -->
          <img src={{item.images[0].src}}>
        </ion-thumbnail>
        <h2>{{item.title}}</h2>
        <p *ngIf="variant.title != 'Default Title'">Variant : {{variant.title}}</p>
        <p>Price : S$ {{variant.price}}</p>
        <p>Quantity : {{variant.quantity}}</p>
      </ion-item>
    </div>

    <!-- Total Amount -->
    <div *ngIf="productListing.length > 0">
      <div float-left>
        Total
      </div>
      <div float-right>
        S$ {{totalAmount | number : '1.2'}}
      </div>
    </div>

  </ion-list>

  <!-- Only show when there is product in the cart  -->
  <div text-center *ngIf="productListing?.length > 0">
    <button ion-button margin-top (click)="checkOut()">Check Out</button>
  </div>
</ion-content>