page-product-detail {}

div {
  // font-family: "Verdana", Times, serif;
  text-align: justify;
  text-justify: inter-word;
}

.productTitle {
  font-weight: bold;
}

// .productPrice {
//   float: right;
// }
// .productDescription {
//   clear: left;
// }
.cart {
  margin-top: 2%;
}
