<!--
  Generated template for the ProductDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{productDetails.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="productDetails">

    <ion-slides pager="true">
      <ion-slide *ngFor="let picture of pictureImages">
        <img src={{picture.src}} alt="">
      </ion-slide>

    </ion-slides>

    <ion-grid>
      <!-- <ion-row>
         <ion-col col-10>
          <div class="productTitle">
            {{productDetails.title}}
          </div>
        </ion-col>
        <ion-col col-2>
          <div class="productPrice">
            {{productDetails.variants[0].price}}
          </div>
        </ion-col> 
      </ion-row> -->
      <ion-row>
        <div class="productTitle">
          {{productDetails.title}}
        </div>
      </ion-row>

      <ion-row padding-top padding-bottom>
        <div padding-right>
          <ion-icon name="pricetag"></ion-icon>

        </div>
        S$ {{productDetails.variants[0].price}}
      </ion-row>
      <ion-row>
        <ion-label>Options</ion-label>
        <ion-select [(ngModel)]="variantId" interface="popover">
          <ion-option *ngFor="let variant of productDetails.variants; let i=index" [selected]="i == 0" [value]="variant.id">
            {{variant.option1}} S$ {{variant.price}}
          </ion-option>
          <!-- <ion-option value="f">{</ion-option>
          <ion-option value="m">{{productDetails.variants[1].option1}} S$ {{productDetails.variants[1].price}}</ion-option> -->
        </ion-select>
      </ion-row>

      <ion-row>
        <div padding-right padding-bottom>
          <ion-icon name="document"></ion-icon>
        </div>
        <b>Description</b>

      </ion-row>

      <ion-row>
        <div #description class="productDescription">

        </div>
      </ion-row>
    </ion-grid>

    <div text-center class="cart">
      <button ion-button round center text-center (click)="addToCart()" style="white-space: pre">
      <ion-icon name="cart"> </ion-icon>
Add to Cart  
      </button>
    </div>


  </div>



</ion-content>
