page-product-detail {}

div {
  // font-family: "Verdana", Times, serif;
  text-align: justify;
  text-justify: inter-word;
}

.productTitle {
  font-weight: bold;
}

// .productPrice {
//   float: right;
// }
// .productDescription {
//   clear: left;
// }
.cart {
  margin-top: 2%;
}

.quantitySelector {
  font-size: 50px; //Preferred size here
}

.quantity{
  border-style: solid;
 font-size: 40px;
}